{% extends 'core/base.html' %}
{% load static %}
{% include 'core/navbar.html' %}#}

{% block content %}
<div class="section full-height over-hide">	
    <div class="switch-wrap">
        {% comment %} <h1>For a Better Tomorrow</h1> {% endcomment %}
        <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
        <lord-icon
            src="https://cdn.lordicon.com/kjkiqtxg.json"
            trigger="hover"
            style="width:250px;height:250px">
        </lord-icon>
        <h1>'Time bank' scheme, </h1>
        <h3>
            People save time and Volunteer <br>
            To look after the elderly who require assistance <br>
            And the number of hours they spend with or caring for seniors  <br>
            Is deposited in their individual social security account.
        </h3>
        <div id="switch" class="hover-target">
            <div id="circle"></div>
        </div>
        <p><span>dark</span> - <span>light</span></p>
    </div>
</div>	

<div class='cursor' id="cursor"></div>
<div class='cursor2' id="cursor2"></div>
<div class='cursor3' id="cursor3"></div>

{% endblock content %}